<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<a href = "https://oauth.groupme.com/oauth/authorize?client_id=R4AC2ItFEdt4Qz54OZ042QJM9erLQJjDnKwE2N74XbKRVTdB"></a>
</body>
</html>
